.DS_Store

runlamp
turn_off_run_lamp
waitlamp
turn_off_wait_lamp
shutdown_switch
turn_on_fault_lamp
turn_off_fault_lamp
turn_on_traffic_lamp
turn_off_traffic_lamp
flickertraffic
flickerblocked

a.out
core
